:root {


/*

Color palette

*/
	--primary: #102333 /*#33434a*/ /*#25211f*/ /*#072734*/;
	--secondary: #006BB6;
	--tertiary: #86BEDF;
	--quaternary: rgba(0, 161, 205, .8);
	--neutral: #F8F9FD;
	--darking: #D6EFFC;
	--darkering: #251a16 /*rgba(7, 39, 52, 0.5)*/;
	--lighting: rgba(255,255,255,.8);
	--accent: #72daff;
	--errorred: #ff0000;

	--green: #41BA5B;
	--mauve: #7542BD;
	--red: #BD4641;
	--fuschia: #B64A79;

/*

Spacing scale

*/
	--pico:      4;
	--nano:      6;
	--micro:     11;
	--thinnest:  15;
	--thinner:   24;
	--thin:      32;
	--broad:     60;
	--broader:   110;
	--broadest:  160;



/*

Dimensions scale

*/

	--dimension-tiniest:   calc(var(--font-shortest) * 17);
	--dimension-tinier:    calc(var(--font-shortest) * 20);
	--dimension-tiny:      calc(var(--font-short) * 21);
	--dimension-small:     calc(var(--font-taller) * 21);
	--dimension-big:       calc(var(--font-huge) * 18.5);



/*

Typography

*/

	--font-base: 'Inter', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	--font-alt: 'Mono Input Narrow', 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;

	--miniature:   9;
	--shortest:   12;
	--short:      14;
	--current:    16;
	--tall:       24;
	--taller:     32;
	--tallest:    40;
	--huge:       60;

	--line-height-perfect:      1em;
	--line-height-tightest:     1.26875em;
	--line-height-tight:        1.54285em;
	--line-height-normal:       2em;
	--line-height-loose:        3.3125em;
	--line-height-looser:       4.2em;

/*

Borders & Radii

*/

	--border-slimmest:  1px;
	--border-slimmer:   2px;


	--radius-sharpest:     3px;
	--radius-sharper:      4px;
	--radius-sharp:        8px;
	--radius-dull:         12px;
	--radius-duller:       20px;
	--radius-dullest:      80px;

/*

Transitions

*/

	--duration-fastest:    80ms;
	--duration-faster: 	  200ms;
	--duration-fast: 	 	  300ms;
	--ease-in-out-quad:  cubic-bezier(0.455, 0.03, 0.515, 0.955);

}

:root {
	--unit-in-px: calc(var(--unit-root) * 1px);
	--unit-in-vw: calc(var(--unit-root) * 100 / 620 * 1vw);

	--font-miniature: calc(var(--miniature) * var(--unit) / var(--unit-root) * var(--type-factor));
	--font-shortest:  calc(var(--shortest) * var(--unit) / var(--unit-root) * var(--type-factor));
	--font-shorter:   calc(var(--shorter) * var(--unit) / var(--unit-root) * var(--type-factor));
	--font-short:     calc(var(--short) * var(--unit) / var(--unit-root) * var(--type-factor));
	--font-current:   calc(var(--current) * var(--unit) / var(--unit-root) * var(--type-factor));
	--font-tall:      calc(var(--tall) * var(--unit) / var(--unit-root) * var(--type-factor));
	--font-taller:    calc(var(--taller) * var(--unit) / var(--unit-root) * var(--type-factor));
	--font-tallest:   calc(var(--tallest) * var(--unit) / var(--unit-root) * var(--type-factor));
	--font-huge:      calc(var(--huge) * var(--unit) / var(--unit-root) * var(--type-factor));
	--font-huger:     calc(var(--huger) * var(--unit) / var(--unit-root) * var(--type-factor));
	--font-hugest:    calc(var(--hugest) * var(--unit) / var(--unit-root) * var(--type-factor));
	--font-giant:     calc(var(--giant) * var(--unit) / var(--unit-root) * var(--type-factor));

	--spacing-pico: calc(var(--pico) * var(--unit) / var(--unit-root) * var(--type-factor));
	--spacing-nano: calc(var(--nano) * var(--unit) / var(--unit-root) * var(--type-factor));
	--spacing-micro: calc(var(--micro) * var(--unit) / var(--unit-root) * var(--type-factor));
	--spacing-thinnest: calc(var(--thinnest) * var(--unit) / var(--unit-root) * var(--type-factor));
	--spacing-thinner: calc(var(--thinner) * var(--unit) / var(--unit-root) * var(--type-factor));
	--spacing-thin: calc(var(--thin) * var(--unit) / var(--unit-root) * var(--type-factor));
	--spacing-broad: calc(var(--broad) * var(--unit) / var(--unit-root) * var(--type-factor));
	--spacing-broader: calc(var(--broader) * var(--unit) / var(--unit-root) * var(--type-factor));
	--spacing-broadest: calc(var(--broadest) * var(--unit) / var(--unit-root) * var(--type-factor));
	--spacing-large: calc(var(--large) * var(--unit) / var(--unit-root) * var(--type-factor));
	--spacing-larger: calc(var(--larger) * var(--unit) / var(--unit-root) * var(--type-factor));
	--spacing-largest: calc(var(--largest) * var(--unit) / var(--unit-root) * var(--type-factor));
	--spacing-mega: calc(var(--mega) * var(--unit) / var(--unit-root) * var(--type-factor));
	--spacing-giga: calc(var(--giga) * var(--unit) / var(--unit-root) * var(--type-factor));
	--spacing-tera: calc(var(--tera) * var(--unit) / var(--unit-root) * var(--type-factor));
}


@media all {
	:root {
	--unit-root: 5;
	--type-factor: .5;
	--unit: var(--unit-in-vw);
	--gutter: var(--spacing-thinnest);
	--security: var(--gutter);
	}
}


@media screen and (min-width: 1068px) {
	:root {
	--gutter: var(--spacing-thinner);
	--security: var(--spacing-thin);
	}
}
